.wrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.preview {
  border-radius: 20px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.closeBtn {
  position: absolute;
  right: 5px;
  top: 5px;
}

@media (min-width: $mantine-breakpoint-sm) {
  .wrapper {
    height: 100%;
  }
}
