.container {
  padding: 0;
  position: relative;
}
.header {
  position: fixed;
  padding-left: 10px;
  top: 0;
  width: 100%;
  z-index: 20;
  background: var(--mantine-color-dark-blue-9);
}
.group {
  margin-top: 50px;
}
.sidebar {
  z-index: 40;
  border-top: 1px solid var(--mantine-color-white);
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--mantine-color-dark-blue-9);
}
.main {
  width: 100%;
  max-width: var(--max-width-main);
  flex-grow: 1;
  padding-right: 5px;
  min-height: 100vh;
  border-right: 1px solid var(--mantine-color-white);
  padding-bottom: 40px;
}
.aside {
  display: none;
  width: 350px;
  height: 100%;
}
@media (min-width: $mantine-breakpoint-sm) {
  .container {
    padding: 0 5px 0 5px;
  }
  .sidebar {
    height: 100%;
    top: 50px;
    border-top: none;
    border-right: 1px solid var(--mantine-color-white);
    width: 88px;
  }
  .main {
    margin-left: 88px;
    padding-right: 0;
    padding-bottom: 0;
  }
  .aside {
    display: flex;
  }
}
@media (min-width: $mantine-breakpoint-md) {
  .sidebar {
    width: 260px;
  }
  .main {
    margin-left: 260px;
    width: var(--max-width-main);
  }
  .aside {
    display: flex;
  }
}
