.sidebarVariant {
  height: 50px;
  max-width: 234px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.base {
  width: fit-content;
}
.base > .icon {
  display: none;
}
.sidebarVariant > .icon {
  display: block;
}

.sidebarVariant > .text {
  font-size: 17px;
  display: none;
}
@media (min-width: $mantine-breakpoint-md) {
  .sidebarVariant > .icon {
    display: none;
  }
  .sidebarVariant > .text {
    display: inline;
  }
  .sidebarVariant {
    width: 100%;
  }
}
