.button {
  width: fit-content;
  padding: 5px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;

  border: none;
  cursor: pointer;
}
.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button:hover {
  backdrop-filter: blur 10px;
  transition: 0.2s ease-in-out;
}

.close {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 5px;
  right: 5px;
}
.close:hover {
  background: rgba(0, 0, 0, 0.4);
}

.base > svg {
  color: var(--mantine-color-light-blue-5);
}
.base:disabled:hover {
  background: inherit;
}
.blue {
  background: inherit;
}
.blue > svg {
  color: var(--mantine-color-light-blue-5);
}

.blue:hover {
  background: rgba(var(--rgb-blue-color), 0.1);
}
.blue > svg:hover {
  color: var(--mantine-color-light-blue-4);
}
.red {
  background: inherit;
}
.red > svg {
  color: var(--mantine-color-red-4);
}

.red:hover {
  background: rgba(var(--rgb-red-color), 0.1);
}
.red > svg:hover {
  color: var(--mantine-color-red-4);
}
.green {
  background: inherit;
}
.green > svg {
  color: var(--mantine-color-green-4);
}

.green:hover {
  background: rgba(var(--rgb-green-color), 0.1);
}
.green > svg:hover {
  color: var(--mantine-color-green-8);
}
.unactive {
  background: inherit;
}
.unactive > svg {
  color: var(--mantine-color-gray-6);
}
.transparent {
  background: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur 10px;
}
.transparent > svg {
  color: var(--mantine-color-gray-9);
}
