html,
body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  background: var(--mantine-color-dark-blue-9);
  color: white;
}
:root {
  --rgb-blue-color: 0, 118, 193;
  --rgb-red-color: 240, 24, 92;
  --max-width-main: 600px;
}
