.withBorder {
  border-bottom: 1px solid gray;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: unset;
}
.avatar {
  display: flex;
  justify-content: center;
  position: relative;
}
.blackBg {
  background: black;
}
.stroke {
  width: 1px;
  height: 100%;
  z-index: -1;
  margin: 0 auto;
  border: 1px solid var(--mantine-color-gray-6);
}
.postHeader {
  display: flex;
  gap: 5px;
  align-items: center;
}
.headerWithMargin {
  margin-left: 9px;
}
.row {
  display: flex;
  gap: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
