.withBorder {
  border-bottom: 1px solid gray;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: unset;
}
.avatar {
  display: flex;
  justify-content: center;
  position: relative;
}
.stroke {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  color: gray;
}
.postHeader {
  display: flex;
  gap: 5px;
  align-items: center;
}
.headerWithMargin {
  margin-left: 9px;
}
.row {
  display: flex;
  gap: 5px;
}
.column {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.imagesContainer {
  display: grid;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  gap: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.three {
  display: grid;
  max-height: 400px;
}
.three :nth-child(1) {
  grid-row: span 2;
}

.two {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.one {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
