.wrapper {
  position: relative;
  display: none;
}
@media (min-width: $mantine-breakpoint-sm) {
  .wrapper {
    display: block;
  }
  .button {
    padding: 5px;
    border-radius: 30px;
    background: inherit;
    border: inherit;
    cursor: pointer;
  }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .avatar {
    display: flex;
    align-items: center;
  }
  .info,
  .icon {
    display: none;
  }

  .info {
    gap: 4px;
  }
  .modal {
    position: absolute;
    padding: 10px 0;
    z-index: 50;
    top: -70px;
    width: 200px;
    height: 100%;
    max-height: 100px;
    background-color: var(--mantine-color-dark-blue-9);
    -webkit-box-shadow: 0 0 20px black;
    -moz-box-shadow: 0 0 20px black;
    box-shadow: 0 0 20px black;
  }
}

@media (min-width: $mantine-breakpoint-md) {
  .button {
    padding: 10px 15px;
  }
  .info,
  .icon {
    display: flex;
    align-items: center;
  }
  .modal {
    left: 30px;
  }
}
