.wrapper {
  position: relative;
  display: none;
}
@media (min-width: $mantine-breakpoint-sm) {
  .wrapper {
    display: block;
  }
  .button {
    padding: 5px;
    border-radius: 30px;
    background: inherit;
    border: inherit;
    cursor: pointer;
  }
  .button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  .avatar {
    display: flex;
    align-items: center;
  }
  .info,
  .icon {
    display: none;
  }

  .info {
    gap: 4px;
  }
  .modal {
    top: -90px;
    width: 200px;
  }
}

@media (min-width: $mantine-breakpoint-md) {
  .button {
    padding: 10px 15px;
  }
  .info,
  .icon {
    display: flex;
    align-items: center;
  }
  .modal {
    left: 30px;
  }
}
